.container {
  padding: 50px 200px;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile p {
  font-weight: 600;
  margin: 10px auto;
}
.profile img {
  height: 48px;
  width: 48px;
  margin: auto;
}
.slack__name {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}
.button {
  width: 100%;
  padding: 20px;
  background-color: #eaecf0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact__button {
  width: 95%;
  padding: 18px;
  background-color: #eaecf0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 14px;
}
.icon__buttons {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #a5a7ab;
}
.footer p {
  color: #a5a7ab;
  font-size: 12px;
  padding-top: 12px;
}
.footer img {
  height: 20px;
  padding-top: 12px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    padding: 10px 20px;
  }

  .footer {
    flex-direction: column;
    gap: 2px;
    justify-content: flex-start;
  }
  .footer p {
    padding: 0;
  }
  .footer img {
    height: 20px;
    width: 80px;
  }
  .contact__button {
    width: 90%;
  }
}
