.container {
  padding: 50px 400px;
}
.header h1 {
  color: #101828;
}
.header p {
  color: #475467;
}
.top {
  display: flex;
  gap: 50px;
}
.top input {
  width: 320px;
}
input {
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  padding: 10px;
}
input:hover,
input:active {
  border: 1px solid #84caff;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}
textarea {
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  height: 132px;
}
textarea:hover,
textarea:active {
  border: 1px solid #84caff;
}
.checkbox {
  display: flex;
  gap: 2px;
  margin: 20px 0;
}

.contact_button {
  background-color: #1570ef;
  width: 100%;
  padding: 10px;
  margin: 30px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}
.contact_button:hover,
.contact_button:active {
  box-shadow: inset 0 0 0 3px #84caff;
}
form {
  margin: 20px 0 70px 0;
}
.error_handler {
  color: #f83f23;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    padding: 10px 20px;
  }
  .top {
    display: block;
  }
  .top input {
    width: 94%;
  }
  form {
    margin: 20px 0 40px 0;
  }
}
